@charset 'utf-8';

.UserAvatar {
  @at-root {
    & {
      text-align: center;
    }

    .Avatar__image {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: lightsteelblue;

      .UserAvatar.-l & {
        width: 120px;
        height: 120px;
      }
    }

    .UserAvatar__text {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      font-size: 1.4rem;
      font-weight: 700;
      text-align: left;

      .UserAvatar.-l & {
        font-size: 2rem;
      }
    }
  }
}
